@media screen and (max-width: 1300px) {
  .main {
    max-width: 1000px;
  }
  .about {
    max-width: 1000px;
  }
  .status {
    max-width: 1000px;
  }
  .skills_bar {
    max-width: 1000px;
  }
  .page_footer {
    max-width: 1000px;
  }
  .footer_copyright {
    max-width: 1000px;
  }
  .footer_copyright::before,
  .footer_copyright::after {
    width: 29%;
  }
}
@media screen and (max-width: 1100px) {
    h1,
    h2,
    h4,
    p{
        text-align: center;
        width: 100%;
        /* border: 2px solid green ; */
    }
    h1 {
        font-size: 5rem;
    }
    h4,.skill__sidebar h4,.main h4{
        margin: 0%;
        font-size: 1.7rem;
    }
    button{
        align-self: center;
    }
  /* header section..................... */
  .page_header .nav_list {
    display: none;
  }
  .page_header nav i {
    display: block;
  }
  /* main section........................... */
  .main {
    flex-direction: column;
    margin: 0rem auto 2rem;
    gap: 2rem;
    text-align: center;
    /* border: 2px solid red; */
  }
  .main__content {
    order: 2;
  } 
  .main h4::before {
    display: none;
  }
  /* about section......................... */
  .about {
    grid-template-columns: 1fr;
  }
  .about__description {
    order: 2;
    margin-top: 2rem;
  }
  .about__intro {
    margin: 0;
    padding: 2rem 0;
  }
  .about__intro h4,.about__intro h1 {
    text-align: left;
  }

  .about__intro .intro__list li{
    font-size: 1.5rem;
  }
  .about__intro h4::after {
    display: none;
  }
  .about_circle_section {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  /* skills bar section............. */
  .web_app_section {
    grid-template-columns: 1fr;
  }

  /* page_footer section...............*/
  .footer_container {
    grid-template-columns: 1fr;
  }
  .footer_container h4::after {
    display: none;
  }
   .footer_form textarea {
    max-width: 100%;
  }

  .footer_container .footer_per_detaile {
    justify-content: space-evenly;
  }
  .detaile__location, .detaile__phone, .detaile__email{
      width: 100%;
    }
    .footer_social_icons,
    .footer_email {
    height: 1rem;
    bottom: -3rem;
    font-size: 2rem;
    gap: 1rem;
    padding: 1rem 0.3rem 1rem;
  }
  .footer_social_icons {
    left: 0.7rem;
    flex-direction: row;
  }
  .footer_email {
      right: 0.7rem;
  }
  .footer_email p {
      writing-mode: horizontal-tb;
    font-size: 1.4rem;
  }
  .footer_social_icons .line,
  .footer_email .line {
      display: none;
  }
  .footer_copyright::before,
  .footer_copyright::after {
    width: 20%;
  }
  .footer_copyright {
    margin-top: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
   p,.main__content p{
     font-size: 1.3rem;
    }
    h4{ font-size: 2rem;}
    /* about section.............. */
    .circle{
        --size: 120px;
}
/* status section............. */
.status_container {
    flex-direction: column;
    padding: 0;
}
.status_box:nth-child(1n) {
    border: none;
}
.status_box {
   font-size: 1.3rem;
    padding: 3rem;
}
  .status_box:nth-child(1),
  .status_box:nth-child(2) {
    border-bottom: 1px solid rgba(220, 220, 220, 0.41);
  }
  /* page footer section......... */
    .form_names{
    flex-direction: column;
    gap: .9rem;
}
.footer_per_detaile{
    width: 100%;
flex-direction: column;
}
.footer_per_detaile i{
    font-size: 2rem;
}
.detaile__location,.detaile__phone,.detaile__email{
    padding: 2rem;
    font-size: 2rem;
}
/* .footer_copyright section......... */
.footer_copyright p{
    color: rgba(255, 255, 255, 0.605);
    font-size: 1rem;
}
 .footer_copyright::after,.footer_copyright::before{
     display: none;
    }
}
@media screen and (max-width:480px) {
   .page_menu{
    width: 100%;
   }   
  h4{
        font-size: 1.5rem;
    }  
    h2{
        font-size: 1.5rem;
    }
    .main img{
        width: 80%;
    }
    .main h1{
        font-size: 3rem;
    }
    h1{
        font-size: 3rem;
    }
    .about_circle_section{
        flex-direction: column;
}
.circle{
    --size: 140px; ;
}
.footer_form{
    padding: 1rem;
}
.footer_social_icons, .footer_email{
    position: static;
    justify-content: space-evenly;
  }
  .footer_social_icons{
  font-size: 1.5rem;
    margin-top:1.5rem;
}

}
